<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="/paginasBaseCss/homePage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav id="navBar">
        <div id="div-logo">
           
        </div>

        <div id="div-links">
            <p id="p-links"><a href="#">Pages</a></p>
            <p id="p-links"><a href="#">Groups</a></p>
            <p id="p-links"><a href="#">Profile</a></p>
            <p id="p-links"><a href="#">Logout</a></p>
            <div id="div-pesquisa">
                <i class="material-icons">search</i>
            </div>
        </div>
    </nav>
</body>
</html>