<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="/paginasBaseCss/homePage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="div-pai">
        <nav id="navBar">
            <div id="div-logo">
        
            </div>
            <div id="div-links">
                <p id="p-links"><a href="#">Pages</a></p>
                <p id="p-links"><a href="#">Groups</a></p>
                <p id="p-links"><a href="/profile">Profile</a></p>
                <p id="p-links"><a href="/logout">Logout</a></p>
                <div id="div-pesquisa">
                    <i class="material-icons">search</i>
                </div>
            </div>
        </nav>
        

        <!--SHORTCUTS-->
        <section id="section-container">
            <div id="shortcuts">
                <h1 id="h1-shortcuts">SHORTCUTS</h1>
                <ul style="list-style-type: none;">
                    <li><i class="material-icons">person</i>
                        Friends
                    </li>
                    <li><i class="material-icons">inbox</i>
                        Inbox
                    </li>
                    <li><i class="material-icons">notifications</i>
                        Notifications
                    </li>
                    <li><i class="material-icons">edit</i>
                        Create Page
                    </li>
                    <li><i class="material-icons">group_add</i>
                        Create Group
                    </li>
                </ul>
            </div>


            <!--PUBLICATIONS-->
            <div id="publications">

                <div id="perfil-image">
                    
                </div>
                <form action="/publications/postings" method="post">
                    <input type="text" name="title" id="ititle" placeholder="Your Title here">
                    
                    <textarea id="publication-area" name="publiBody" placeholder="Your publication here">

                    </textarea>
                    <button>Publish</button>
                </form>

                <% dadosPublications.forEach((dados) =>{ %>
                    <div id="publications-postings-container">
                        <div id="perfil-image-publications">
                        
                        </div>

                        <div id="publications-postings">
                            <h1><%= dados.title %></h1>
                            <p><%= dados.body %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
            

            <!--YOUR PAGES-->
            <div id="your-pages">
                <h1 id="h1-your-pages">YOUR PAGES</h1>

            </div>
        </section>


        <!--FOOTER-->
        <footer>
            <p id="p-footer">2024 by Vinicius Rodrigues &copy</p>
        </footer>
    </div>

    <script src="/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            language: 'pt_BR',
            selector: '#publication-area', 
            plugins:[
                'advlist',
                'autolink',
                'link',
                'image',
                'lists',
                'preview',
                'searchreplace',
                'wordcount',
                'fullscreen',
                'insertdatetime',
                'media',
                'save',
                'table',
                'emoticons'
            ],
        })
    </script>
</body>
</html>