<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Homepage</title>
    <link rel="stylesheet" href="/paginasBaseCss/homePage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/paginasBaseCss/imagens/fivecon.png" type="image/x-icon">
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>
<body>
    <div id="div-pai">
        <nav id="navBar">
            <div id="div-logo">
        
            </div>
            <div id="div-links">
                <p id="p-links"><a href="/profile">Profile</a></p>
                <p id="p-links"><a href="/logout">Logout</a></p>
                <div id="div-pesquisa">
                    <i class="material-icons">search</i>
                </div>
            </div>
        </nav>
        

        <!--SHORTCUTS-->
        <section id="section-container">
            <div id="shortcuts">
                <h1 class="h1-shortcuts">SHORTCUTS</h1>
                <ul style="list-style-type: none;">
                    <li><i class="material-icons">person</i>
                        Friends
                    </li>
                    <li><i class="material-icons">inbox</i>
                        Inbox
                    </li>
                    <li><i class="material-icons">notifications</i>
                        Notifications
                    </li>
                    <li><i class="material-icons">edit</i>
                        Create Page
                    </li>
                    <li><i class="material-icons">group_add</i>
                        Create Group
                    </li>
                </ul>
            </div>


            <!--PUBLICATIONS-->
            <div id="publications-container">
                <div id="publishing">
                    <h1 class="h1-shortcuts">PUBLISH HERE</h1>

                    <div id="perfil-image">
                
                    </div>
                    <form action="/publications/postings" method="post">
                        <input type="text" name="title" id="ititle" placeholder="Your Title here">
                
                        <textarea id="publication-area" name="publiBody" placeholder="Your publication here">
                        </textarea>
                        <button>Publish</button>
                    </form>
                </div>
                <div id="publications">
                    <h1 class="h1-shortcuts">PUBLICATIONS</h1>

                    <% dadosPublications.forEach((dados) =>{ %>
                        <div id="publications-postings-container">
                            <div id="perfil-image-publications">
                
                            </div>
                            <div id="publications-postings">
                                <h1 id="h1-publications"><%= dados.title %></h1>
                                <p id="p-publications"><%- dados.body %></p>
                                <div id="div-buttons">
                                    <a href="/editPubli/<%= dados.id %>">
                                        <button id="editBtt">EDIT</button>
                                    </a>
                                    <form action="/publications/delete" method="post" id="formDelete">
                                        <input type="hidden" name="id" value="<%= dados.id %>">
                                        <button id="deleteBtt">DELETE</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>

        </section>


        <!--FOOTER-->
        <footer>
            <p id="p-footer">2024 by Vinicius Rodrigues &copy</p>
        </footer>
    </div>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        tinymce.init({
            language: 'pt_BR',
            selector: '#publication-area', 
            plugins:[
                'advlist',
                'autolink',
                'link',
                'image',
                'lists',
                'preview',
                'searchreplace',
                'wordcount',
                'fullscreen',
                'insertdatetime',
                'media',
                'save',
                'table',
                'emoticons'
            ],
        })

        Swal.fire({
            title: 'Hello partner!',
            text: `This is like a "blog" for postings your stuffs and see whats happens`,
            icon: 'info',
            confirmButtonText: 'Cool'
        })

        document.addEventListener('DOMContentLoaded', (event) =>{
            const urlParams = new URLSearchParams(window.location.search)
            const errorMsg = urlParams.get('error')
            if(errorMsg){
                alert(errorMsg)
                // Remove o parâmetro 'error' da URL
                urlParams.delete('error');
                const newUrl = window.location.pathname + '?' + urlParams.toString();
                history.replaceState(null, '', newUrl);
            }
        })

        var deleteForm = document.querySelectorAll('#formDelete')
            deleteForm.forEach(form => {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Evita que o formulário seja enviado automaticamente
                    
                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'You will not be able to undo this action!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete!',
                        cancelButtonText: 'Cancel'
                    })
                    .then((result) =>{
                        if(result.isConfirmed){
                            this.submit(); 
                        }
                    })
                });
            });
    </script>
</body>
</html>