<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/paginasBaseCss/profile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="div-pai">
        <nav id="navBar">
            <div id="div-logo">
        
            </div>
            <div id="div-links">
                <p id="p-links"><a href="#">Pages</a></p>
                <p id="p-links"><a href="#">Groups</a></p>
                <p id="p-links"><a href="/profile" target="_blank">Profile</a></p>
                <p id="p-links"><a href="/logout">Logout</a></p>
                <div id="div-pesquisa">
                    <i class="material-icons">search</i>
                </div>
            </div>
        </nav>

        <section id="section-container">
            <div id="div-imagem-capa">
                
                <div id="div-imagem-perfil">
                    <p>imagem de perfil</p>
                </div>
                <div id="edit-imagem-perfil">
                    <i class="material-icons" id="i-photo">photo_camera</i>
                    <p id="p-edit-imagem">Edit your photo</p>
                </div>
            </div>

            <div id="div-nome">
                <p id="p-nome">Nome</p>
            </div>
        </section>

        <section id="section-container-2">
            <div id="shortcuts">
                <h1 id="h1-shortcuts">SHORTCUTS</h1>
                <ul style="list-style-type: none;">
                    <li><i class="material-icons">person</i>
                        Friends
                    </li>
                    <li><i class="material-icons">inbox</i>
                        Inbox
                    </li>
                    <li><i class="material-icons">notifications</i>
                        Notifications
                    </li>
                    <li><i class="material-icons">edit</i>
                        Create Page
                    </li>
                    <li><i class="material-icons">group_add</i>
                        Create Group
                    </li>
                </ul>
            </div>

            <div id="div-uptade-profile">
                <h1 id="h1-profile">Update Profile</h1>

                <form>
                    <input type="text" name="name" id="iname" placeholder="Full Name">
                    <input type="date" name="date" id="idate" placeholder="Date of birth">
                    <input type="text" name="city" id="icity" placeholder="City">
                    <input type="text" name="country" id="icountry" placeholder="Country">
                    <label for="about">About Me</label>
                    <textarea name="about" id="iabout">

                    </textarea>

                    <button>Save</button>
                </form>
            </div>
        </section>
    </div>
</body>
</html>