<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edite Profile</title>
    <link rel="stylesheet" href="../../../userCss/editPubli.css">
</head>
<body>
    <div id="div-pai">
        <nav id="navBar">
            <div id="div-logo">
        
            </div>
            <div id="div-links">
                <p id="p-links"><a href="#">Pages</a></p>
                <p id="p-links"><a href="#">Groups</a></p>
                <p id="p-links"><a href="/profile">Profile</a></p>
                <p id="p-links"><a href="/logout">Logout</a></p>
                <div id="div-pesquisa">
                    <i class="material-icons">search</i>
                </div>
            </div>
        </nav>

        <section id="section-container">            
            <div id="publications">
                <form action="/publications/postings" method="post">
                    <input type="text" name="title" id="ititle" placeholder="Your Title here">
                    
                    <textarea id="publication-area" name="publiBody" placeholder="Your publication here">

                    </textarea>
                    <button>Publish</button>
                </form>
            </div>
        </section>

        <!--FOOTER-->
        <footer>
            <p id="p-footer">2024 by Vinicius Rodrigues &copy</p>
        </footer>
    </div>


    <script src="/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            language: 'pt_BR',
            selector: '#publication-area', 
            plugins:[
                'advlist',
                'autolink',
                'link',
                'image',
                'lists',
                'preview',
                'searchreplace',
                'wordcount',
                'fullscreen',
                'insertdatetime',
                'media',
                'save',
                'table',
                'emoticons'
            ],
        })
    </script>
</body>
</html>