<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/userCss/login.css">
    <link rel="shortcut icon" href="/paginasBaseCss/imagens/fivecon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

</head>
<body>
    <div id="div-pai">
        <div id="div-filho">

            <form method="post" action="/authenticate">
                <h1>Login</h1>

                <input type="text" name="email" id="iemail" placeholder="Email">
                <input type="password" name="password" id="ipassword" placeholder="Password">

                <p><a href="/cadastro">Don't have an account ?</a></p>
                
                <button>Login</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        const urlParams = new URLSearchParams(window.location.search);
        const errorMsg = urlParams.get('error');
        
            if (errorMsg) {
                Swal.fire({
                    title: 'Oops!',
                    text: errorMsg,
                    icon: 'warning',
                    confirmButtonText: 'Go back'
                }).then(() => {
                    // Depois que o usu치rio clicar em "Ok", remove o par칙metro da URL
                    urlParams.delete('error');
                    
                    const newUrl = window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : '');
                    
                    // Atualiza o hist칩rico para remover o par칙metro 'error' da URL
                    history.replaceState(null, '', newUrl);
                });
            }
        });

    </script>
</body>
</html>