<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="/userCss/record.css">
</head>
<body>

    <div id="div-pai">
        <h1>Bem vindo a minha nova social media</h1>
        <div id="div-filho">
            <h2>SignUp</h2>
            <form method="post" action="/savingRecords">
                <input type="text" name="name" id="inome" placeholder="Full Name">
                <input type="text" name="username" id="iusername" placeholder="User Name">
                <input type="text" name="email" id="iemail" placeholder="Email">
                <input type="password" name="password" id="ipassword" placeholder="Password">

                <div id="input-radio">
                    <input type="radio" name="male" id="imale" class="radio">
                    <label for="imale">Male</label>
                    <input type="radio" name="female" id="ifemale" class="radio">
                    <label for="ifemale">Female</label>
                </div>

                <p id="p-registro"><a href="/login">Already have an account</a></p>
                
                <button>
                    Register
                </button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) =>{
            const urlParams = new URLSearchParams(window.location.search)
            const errorMsg = urlParams.get('error')
            if(errorMsg){
                alert(errorMsg)
                // Remove o parâmetro 'error' da URL
                urlParams.delete('error');
                const newUrl = window.location.pathname + '?' + urlParams.toString();
                history.replaceState(null, '', newUrl);
            }
        })
    </script>
</body>
</html>