<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/userCss/record.css">
    <link rel="shortcut icon" href="/paginasBaseCss/imagens/fivecon.png" type="image/x-icon">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div id="div-pai">
        <div id="div-filho">
            <h2>SignUp</h2>
            <form method="post" action="/savingRecords"  enctype="multipart/form-data">
                <input type="text" name="name" id="inome" placeholder="Full Name">
                <input type="text" name="username" id="iusername" placeholder="User Name">
                <input type="text" name="email" id="iemail" placeholder="Email">
                <input type="password" name="password" id="ipassword" placeholder="Password" >

                <div id="input-radio">
                    <input type="radio" name="radio" id="imale" class="radio" required>
                    <label for="imale">Male</label>
                    <input type="radio" name="radio" id="ifemale" class="radio" required>
                    <label for="ifemale">Female</label>
                </div>

                <div id="div-imagem-capa">
                
                    <div id="div-imagem-perfil">
                            
                    </div>
    
                    <!-- Formulário de upload de imagem -->
                    <input type="file" id="input-edit-imagem" name="imageCreate" >
                </div>

                <p id="p-registro"><a href="/login">Already have an account</a></p>
                
                <button>
                    Register
                </button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) =>{
            const urlParams = new URLSearchParams(window.location.search)
            const errorMsg = urlParams.get('error')
            if(errorMsg){

                Swal.fire({
                    title: 'Oops!',
                    text: errorMsg,
                    icon: 'warning',
                    confirmButtonText: 'Go back'
                })
                .then(() =>{
                    // Remove o parâmetro 'error' da URL
                    urlParams.delete('error');
                    const newUrl = window.location.pathname + '?' + urlParams.toString();
                    history.replaceState(null, '', newUrl);
                })
            }
        })
    </script>
</body>
</html>