
@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
}

#div-pai{
    display: flex;
    flex-direction: column;
    width: 100%;
}


/*HEADER*/


#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 16vh;
    width: 100%;
    background-color: #E4C8FB;
}

#div-logo{
    height: 85px;
    width: 120px;
    border-radius: 100px;
    background-image: url(./imagens/logo3.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#div-logo:hover{
    transform: scale(1.10);
}

#div-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}

#p-links{
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#p-links:hover{
    transform: scale(1.10);
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

#div-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#div-pesquisa:hover{
    transform: scale(1.15);
}

#div-pesquisa .material-icons {
    font-size: 35px;
    font-weight: bold;
}


/*SECTION 1*/


#section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 60px 0px 60px 0px;
    background-image: url(./imagens/section-img-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 2px 8px 0px inset;
}


/*SHORTCUTS*/


div#shortcuts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 17%;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, 
    rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, 
    rgba(240, 46, 170, 0.05) -25px 25px;
    margin-right: 80px;
    position: -webkit-sticky; /* Para compatibilidade com navegadores WebKit */
    position: sticky;
    top: 10px; /* Ajuste conforme necessário */
}

.h1-shortcuts{
    font-size: 30px;
    color: rgba(163, 20, 111, 0.981);
    text-decoration: overline;
    margin: 0px;
}

ul{
    padding: 2px;
    margin: 0px;
}

li{
    font-size: 18px;
    margin: 8px 0px 0px 0px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
li:hover{
    transform: scale(1.08);
}

li .material-icons {
    font-size: 30px;
}


/*PUBLICATIONS*/

div#publications-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

div#publishing{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    width: 90%;
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, 
    rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, 
    rgba(240, 46, 170, 0.05) -25px 25px;
    margin-bottom: 50px;
}

#perfil-image{
    height: 90px;
    width: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-image: url(./imagens/user.jpg);
    background-size: cover;
    background-position: center;
}

form{
    margin-top: 40px;
}


div#publications{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    width: 90%;
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, 
    rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, 
    rgba(240, 46, 170, 0.05) -25px 25px;
    margin-right: 5px;
}

input{
    height: 50px;
    width: 95%;
    border: none;
    font-size: 17px;
    margin: 0px 0px 10px 10px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    text-align: center;
}

input:focus {
    outline: none; 
}

input::placeholder{
    text-align: center;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.252);
}

button{
    height: 40px;
    width: 120px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
button:hover{
    transform: scale(1.08);
}

#publications-postings-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    width: 80%;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#perfil-image-publications{
    height: 120px;
    width: 120px;
    margin-bottom: 40px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
}

#img-perfil{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
}

#publications-postings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#h2-publications{
    font-size: 19px;
    margin: 0px 0px 40px 0px;
}

#h1-publications{
    font-size: 30px;
    text-decoration: underline;
    margin: 0px;
}

#p-publications{
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    color: rgba(163, 20, 111, 0.981);
}

#div-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

#editBtt{
    height: 35px;
    width: 80px;
    letter-spacing: 2px;
    margin: 20px 10px 0px 0px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
    background-color: rgba(3, 102, 214, 0.3);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#edit:hover{
    transform: scale(1.08);
}

#deleteBtt{
    height: 35px;
    width: 90px;
    letter-spacing: 2px;
    margin: 20px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
    background-color: rgba(255, 68, 0, 0.615);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#deleteBtt:hover{
    transform: scale(1.08);
}


/*PAGES


div#your-pages{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    height: 20vh;
    width: 20%;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
    margin-right: 5px;
    position: -webkit-sticky; 
    position: sticky;
    top: 10px; 
}

#h1-your-pages{
    font-size: 25px;
    color: rgba(163, 20, 111, 0.981);
    text-decoration: overline;
    margin: 20px 0px 0px 0px;
}
*/

/*FOOTER*/


footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 15vh;
    width: 100%;
    background-color: white;
}

#p-footer{
    font-size: 18px;
    font-weight: bold;
}